:root{
    --font-family:'Rubik', sans-serif;
    --color-menu: #4a4a4a;
    --baclground-color: #3CD8C0;
    --color-text: #FFFFFF;
}
.header {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: sticky;
    top: 0;
}
.link-logo{
    margin-bottom: 10px;
}
.img-logo{
    width: 155px;
    margin-top: 10px;
}
.list-menu{
    font-size: 16px;
    font-family: var(--font-family);
    color: #4a4a4a;
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 13px;
}
.container{
    background-color: #3CD8C0;
    width: px;
    height: 2000px;
}
.text{
    font-family: var(--font-family);
    font-size: 30px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}